body {
	background-color: black;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	color: white;
	margin: 0px;
	padding: 0px;
	background-image: url('./background.png');
	background-size: 150vw 125vh;
	background-attachment: fixed;
}
.page {
	background-color: #0000009c;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 0px;
	padding: 20px;
	cursor: default;
	margin-top: 20px;
	display: none;
	margin-bottom: 60px;
}
#Start {margin-bottom: 0px;}
#Tabs {margin-bottom: 0px;}
h1 {
	margin-top: 0px;
	font-size: 37px;
	margin-bottom: 0px;
}
h2 {
	font-size: 25px;
	margin-bottom: 0px;
	margin-top: 0px;
}
p {
	font-size: 17px;
	margin-left: 20px;
}
.footer {
	font-size: 12px;
	margin: 0px;
	margin-top: 50px;
}
i.fa-node-js {
	color: #8cc84b;
}
i.fa-css3 {
	color: #0176bc;
}
i.fa-js {
	color: #f0db4f;
}
i.fa-d-and-d {
	color: #ec2127;
}
i.fa-microchip {
	color: gray;
}
#Tabs div {
	padding: 4px;
	padding-left: 20px;
	padding-right: 20px;
	border: 3px solid white;
	display: inline-block;
	font-size: 17px;
	transition: 0.5s;
	border-radius: 5px;
	margin-right: 15px;
	cursor: pointer;
}
#Tabs div:hover {
	border-radius: 15px;
	background-color: white;
	color: black;
}
#Tabs .backButton {
	margin-bottom: 0px;
}
.tabButtonActive {
	background-color: #ffffff80;
	color: black;
	transition: 0.5s;
}
.tabButtonActive:hover {
	background-color: white;
}
.boxGroup {
	margin-top: 25px;
	margin-bottom: 25px;
}
.boxGroup div {
	padding: 7px;
	font-size: 21px;
	border: 3px white solid;
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	cursor: pointer;
	transition: 0.5s;
	border-radius: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.boxGroup div:hover {
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 20px;
	background-color: white;
	color: black;
}
.boxGroup div i {
	transition: 0.5s;
}
.boxGroup div:hover i {
	color: black;
}
.listGroup {
	margin-left: 20px;
}
.listGroup p, .listGroup a {
	border-left: 2px white solid;
	padding-left: 10px;
	font-size: 20px;
	cursor: pointer;
	transition: 0.4s;
	display: inline-block;
	margin-bottom: 0px;
	padding-right: 10px;
	margin-left: 20px;
	margin-top: 20px;
	text-decoration: none;
	color: white;
}
.listGroup p:hover, .listGroup a:hover {
	letter-spacing: 2px;
	border-left-width: 4px;
	background-color: white;
	color: black;
	border-radius: 10px;
}
.workGroup {
	margin-top: 25px;
	margin-bottom: 25px;
}
.workGroup div {
	border-bottom: solid white 2px;
	font-size: 25px;
	margin-bottom: 20px;
	padding: 5px;
	cursor: pointer;
	transition: 0.4s;
}
.workGroup div:hover {
	background-color: white;
	border-radius: 15px;
	color: black;
	letter-spacing: 1px;
	padding-left: 15px;
}
.workGroup p {
	display: inline;
	font-size: 17px;
}
.profileImage {
	float: right;
	height: 250px;
	width: 250px;
	border-radius: 20px;
}
.backButton {
	padding-left: 10px;
	font-size: 20px;
	cursor: pointer;
	transition: 0.4s;
	display: inline-block;
	margin-bottom: 10px;
	padding-right: 10px;
	border-left-width: 4px;
	background-color: white;
	color: black;
	border-radius: 10px;
	border: solid white 2px;
}
.backButton:hover {
	background-color: transparent;
	color: white;
	letter-spacing: 2px;
}
pre {
	border-top: white 2px solid;
	border-bottom: white 2px solid;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 20px;
}
textarea {
	width: 98%;
	margin-top: 15px;
	background-color: #002337;
	border: solid white 2px;
	resize: none;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 17px;
	color: gray;
	padding: 10px;
	transition: 0.3s;
	border-radius: 10px;
}
textarea:focus {
	color: white;
	border-radius: 15px;
	resize: vertical;
}
input.title[type=text] {
	color: white;
	font-size: 25px;
	border-width: 0px;
	padding: 0px;
	background-color: #002337;
	width: 100%;
}
#Tabs div.Writing {
	margin: 10px;
	margin-left: 0px;
}
#Log .backButton {
	display: inline-block;
}
.next, .prev {
	display: inline-block;
	padding-bottom: 5px;
	border-bottom: white solid 2px;
	font-size: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
	cursor: pointer;
	width: 40%;
	transition: 0.3s;
}
.next {
	text-align: right;
}
.prev {
	margin-left: 20px;
}
.next i {
	margin-left: 10px;
}
.prev i {
	margin-right: 10px;
}
.next:hover, .prev:hover {
	letter-spacing: 1px;
}

@media screen and (max-width: 500px) {
	body {
		background-image: linear-gradient(-45deg, #0091ad, #005075);
		background-repeat: no-repeat;
		background-color: #00819f;
		background-attachment: scroll;
	}
	.page {
		margin-left: 0px;
		margin-right: 0px;
	}
	.tabButton {width: 30%; margin-bottom: 4px;}
	#Tabs div {
		width: 85%;
		margin-bottom: 10px;
	}
	.profileImage {
		width: 80%;
		height: auto;
		float: left;
		margin-left: 10%;
		margin-bottom: 20px;
	}
	.boxGroup div {
		width: 85%;
	}
	.workGroup p {
		display: none;
	}
	.next, .prev {
		width: 95%;
		margin-left: 5px;
	}
}