body {
	background-color: black;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	color: white;
	margin: 0px;
	padding: 0px;
	background-image: url('./song.jpg');
	background-size: 100%;
	background-attachment: fixed;
	background-size: cover;
	background-position: center; 
}
h1 {font-size: 40px;}

#Page_A h2 {
	color: gray;
	font-size: 24px;
}
#Page_A p {
	margin-left: 20px;
	border-left: 4px solid gray;
	padding-left: 20px;
	width: 60%;
}

@media screen and (max-width: 850px) {
	h1 {font-size: 33px;}
	#Base {margin-top: 109px;}
	#Nav {background-color: #3c3c47e3;}
	#Page_A p {
		border-left-width: 2px;
		margin-left: 10px;
		width: 90%;
		padding-left: 10px;
	}
}